/*1ero llamamos variables y los mixins*/
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
/*2do llamamos al reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*3ero llamamos a los layout*/
/*Modificaciones realizadas en barra de navegacion con bootstrap */
header .container-fluid {
  display: flex;
  justify-content: space-between;
  text-align: center; }

.nav-item a {
  font-family: "Archivo", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  letter-spacing: .125rem;
  list-style: none; }

li img {
  list-style: none; }

.navbar-nav .nav-item .nav-link {
  padding: 25px; }

/*Modificaciones carrucel de bootstrap */
main .carousel-inner .d-block {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.carousel-item {
  height: 100vh;
  min-height: 18.75rem; }
  .carousel-item .carousel-caption {
    bottom: 13.75rem;
    z-index: 2; }
    .carousel-item .carousel-caption h1 {
      font-size: 9.375rem;
      text-transform: uppercase; }

.mx-auto:hover {
  background-color: beige;
  transition: background-color 2s; }

.sectionProductos {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sectionProductos h2 {
    font-family: "Archivo", sans-serif;
    text-align: center;
    font-size: 1.875rem;
    margin: 2.5rem 0;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem; }
    .sectionProductos h2 a {
      text-decoration: none;
      color: black;
      font-family: "Archivo", sans-serif;
      letter-spacing: 5px; }

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center; }

.card-productos {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .625rem;
  overflow: hidden; }
  .card-productos h3 a {
    font-family: "Archivo", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    letter-spacing: .3125rem; }

.titulo-recomendados {
  display: flex;
  justify-content: center;
  align-items: center; }
  .titulo-recomendados h2 {
    font-family: "Archivo", sans-serif;
    text-align: center;
    font-size: 1.875rem;
    margin: 2.5rem 0;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    color: black;
    letter-spacing: 5px; }

.cards-recomendados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "uno dos tres cuatro cinco ";
  justify-content: center;
  display: grid;
  width: 100%;
  height: 25rem;
  column-gap: 1.25rem; }
  .cards-recomendados img {
    width: 100%;
    height: 18.75rem; }
  .cards-recomendados h3 {
    font-family: "Archivo", sans-serif;
    color: black;
    letter-spacing: .3125rem;
    font-size: 1.25rem;
    text-align: center;
    margin: 50px; }
  .cards-recomendados .uno {
    background-color: #D9D9D9;
    grid-area: uno; }
  .cards-recomendados .dos {
    background-color: #D9D9D9;
    grid-area: dos; }
  .cards-recomendados .tres {
    background-color: #D9D9D9;
    grid-area: tres; }
  .cards-recomendados .cuatro {
    background-color: #D9D9D9;
    grid-area: cuatro; }
  .cards-recomendados .cinco {
    background-color: #D9D9D9;
    grid-area: cinco; }

.whatsApp {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem; }

.container {
  width: 100%;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.novedades-ayuda-redes {
  width: 100%;
  height: 18.75rem;
  display: flex;
  gap: 15.625rem;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  flex-direction: row; }
  .novedades-ayuda-redes .sectionAyuda h3 a {
    text-decoration: none;
    color: black;
    font-family: "Archivo", sans-serif;
    font-size: 20px;
    border: 0.0625rem solid 0, 0, 0, 0, 161; }
  .novedades-ayuda-redes .info
h2 {
    font-family: "Archivo", sans-serif;
    font-size: 20px;
    color: black;
    align-items: center;
    display: flex; }
  .novedades-ayuda-redes .completarnovedades {
    width: 260px;
    border: .625rem;
    border-bottom: #000 1px solid;
    background: white;
    font-size: 1.25rem;
    color: black;
    padding: 10px 10px 10px 10px; }
  .novedades-ayuda-redes .boton {
    padding: .625rem .625rem .625rem .625rem;
    margin-top: .625rem;
    text-align: center; }

.redes {
  margin-top: 12.5rem;
  text-align: center; }

.redes img p {
  margin-top: 12.5rem;
  display: flex;
  align-items: end; }

.main-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  align-items: center; }

.card-productos {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .625rem;
  overflow: hidden; }
  .card-productos img {
    width: 100%;
    height: auto; }
  .card-productos h3 a {
    font-family: "Archivo", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    letter-spacing: .3125rem; }

.card {
  padding-left: 1.875rem; }

.card-body {
  background-color: black; }
  .card-body .card-text p {
    font-family: "Archivo", sans-serif;
    color: white;
    letter-spacing: .3125rem; }

main {
  display: flex;
  display: inline; }

.container-contact {
  justify-content: center;
  width: 50%;
  align-content: center;
  margin-left: 15.625rem; }

h1 {
  font-size: 1.25rem;
  font-family: "Archivo", sans-serif;
  color: black; }

.form-label {
  font-size: .625rem;
  font-family: "Archivo", sans-serif;
  color: black; }

.container-fluid {
  justify-content: center;
  gap: 1.25rem; }
  .container-fluid .card-body {
    background-color: white; }

.card {
  width: 18.75rem;
  height: 400px; }

/*4to llamamos a los componentes*/
/*5to a los media querrys */
@media screen and (max-width: 1024px) {
  header {
    justify-content: space-between;
    align-items: center; }
  main .carousel-inner .d-block {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .carousel-item {
    height: 100vh;
    min-height: 18.75rem; }
    .carousel-item .carousel-caption {
      bottom: 13.75rem;
      z-index: 2; }
      .carousel-item .carousel-caption h1 {
        font-size: 6.25rem;
        text-transform: uppercase; }
  .novedades-ayuda-redes {
    width: 100%;
    gap: 3.125rem; }
    .novedades-ayuda-redes .sectionAyuda h3 a {
      width: 100%; }
  .productos {
    width: 100%; }
  .redes {
    width: 100%;
    margin-top: 12.5rem;
    text-align: center; } }

@media screen and (max-width: 48rem) {
  header {
    justify-content: space-between;
    align-items: center; }
  main .carousel-inner .d-block {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .carousel-item {
    height: 100vh;
    min-height: 18.75rem; }
    .carousel-item .carousel-caption {
      bottom: 13.75rem;
      z-index: 2; }
      .carousel-item .carousel-caption h1 {
        font-size: 100px;
        text-transform: uppercase; }
  .novedades-ayuda-redes {
    width: 100%;
    gap: .625rem;
    display: block; }
    .novedades-ayuda-redes .sectionAyuda h3 a {
      font-size: .9375rem;
      padding-top: 20px;
      width: 100%; }
  .productos {
    width: 100%; }
  .redes {
    width: 100%;
    margin-top: 12.5rem;
    text-align: center; }
    .redes p {
      font-size: .9375rem; } }

@media screen and (max-width: 30rem) {
  header {
    justify-content: space-between;
    align-items: center; }
  main .carousel-inner .d-block {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  main .carousel-inner .carousel-item {
    height: 100vh;
    min-height: 18.75rem; }
    main .carousel-inner .carousel-item .carousel-caption {
      bottom: 13.75rem;
      z-index: 2; }
      main .carousel-inner .carousel-item .carousel-caption h1 {
        font-size: 100px;
        text-transform: uppercase; }
  .novedades-ayuda-redes {
    width: 100%; }
    .novedades-ayuda-redes .sectionAyuda h3 a {
      width: 100%; }
  .productos {
    width: 100%; }
  .redes {
    width: 100%;
    margin-top: 12.5rem;
    text-align: center; } }

@media screen and (max-width: 320px) {
  main .carousel-inner .d-block {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  main .carousel-inner .carousel-item {
    height: 100vh;
    min-height: 18.75rem; }
    main .carousel-inner .carousel-item .carousel-caption {
      bottom: 13.75rem;
      z-index: 2; }
      main .carousel-inner .carousel-item .carousel-caption h1 {
        font-size: 50px;
        text-transform: uppercase; }
  .novedades-ayuda-redes {
    width: 100%; }
    .novedades-ayuda-redes .sectionAyuda h3 a {
      width: 100%; }
  .productos {
    width: 100%; }
  .redes {
    width: 100%;
    margin-top: 12.5rem;
    text-align: center; } }
