/*Modificaciones realizadas en barra de navegacion con bootstrap */
header{
    .container-fluid {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    }
    
.nav-item {
    a{
        font-family: $fuente-principal;
                    text-decoration: none;
                    color: black;
                    font-size: 1.25rem;
                    letter-spacing: .125rem;
                    list-style: none;
                    }
                    }
                    
li{
    img {
        list-style: none;
    }
}
.navbar-nav {
    .nav-item {
        .nav-link {
            padding: 25px;
        }
    }
}