/*Modificaciones carrucel de bootstrap */
main {
  .carousel-inner {
    .d-block {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.carousel-item {
  height: 100vh;
  min-height: 18.75rem;

  .carousel-caption {
    bottom: 13.75rem;
    z-index: 2;

    h1 {
      font-size: 9.375rem;
      text-transform: uppercase;
      color: $color-fuentes-principal;
      text-align: center;
    }
  }
 
}
.mx-auto:hover {
  background-color: rgba(0, 0, 0, 0.20) ;
  transition: background-color 2s;
 }
.sectionProductos {
 @include flex (center,center);
 h2 {
      font-family: $fuente-principal ;
      text-align: center;
      font-size: 1.875rem;
      margin: 2.5rem 0;
      padding: 0.625rem 0.625rem 0.625rem 0.625rem;
      a{
        text-decoration: none;
        color: $color-fuentes;
        font-family: $fuente-principal ;
        letter-spacing: 5px;

      }
  }
  }
  .productos {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .card-productos{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .625rem;
    overflow: hidden;
    h3 {
      a{
        font-family: $fuente-principal;
        font-size: 1.25rem;
        text-decoration: none;
        color: $color-fuentes;
        letter-spacing: .3125rem
      }
    }
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	
}


.contenedor-cards {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    img {
        width: 15rem;
    height: 23.5rem;
    
}
.textos h3 {
  font-family: $fuente-principal;
  font-size: 1.25rem;
  text-decoration: none;
  color: $color-fuentes;
  letter-spacing: .1875rem;
  padding: .625rem;
}
    }
	

.tittle-recomendados {
  font-family: $fuente-principal;
  font-size: 1.25rem;
  text-decoration: none;
  color: $color-fuentes;
  letter-spacing: .3125rem;
  text-align: center;
  margin: 2.5rem;
}

  .whatsApp {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
  }

  .container-main {
    width: 100%;
        align-items: center;
        background-color: white;
          display: flex;
          justify-content: space-between;
          align-items: center;
      
      }
        .novedades-ayuda-redes{
          width: 100%;
          height: 18.75rem;
          display: flex;
          gap: 15.625rem;
          justify-content: center;
          margin-top: 100px;
          align-items: center;
          flex-direction: row;

          .sectionAyuda {
            margin-top:  2.5rem;
            h3 {
              a{
                text-decoration: none;
                color: $color-fuentes;
                font-family: $fuente-principal;
                font-size: 20px;
                border: .0625rem solid (0,0,0,0,161) ;
              }
            }
          }
          .info 
          h2 {
            font-family: $fuente-principal;
            font-size: 20px;
            color: $color-fuentes;
            align-items: center;
           
            
        }
        .completarnovedades {
          width: 260px;
          border: .625rem;
          border-bottom: #000 1px solid;
          background: white;
          font-size: 1.25rem;
          color:$color-fuentes;
          padding: 10px 10px 10px 10px;
      }
      .boton {

        padding: .625rem .625rem .625rem .625rem;
        margin-top: .625rem;
        text-align: center;
      
      }
    }